* {
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.wrapper {
  height: 25vh;
  width: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vw;
  box-shadow: 2px 2px 5px gray;
}

.one {
  border: solid 1px black;
}

.two {
  background: #5b84b1ff;
}

.three {
  background: #101820ff;
}

.four {
  background-image: linear-gradient(red, blue, green);
}

.five {
  background: #2bae66ff;
}

.five button {
  margin: 8px;
}

.blend-btn {
}

h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
