* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  height: 25vh;
  width: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.one {
  border: solid 1px black;
}

.two {
  background: #5b84b1ff;
}

.three {
  background: #101820ff;
}

.four {
  background: palegoldenrod;
}

.five {
  background: #2bae66ff;
}

.five button {
  margin: 8px;
}

.box2 {
  height: 10vh;
  width: 10vw;
  /* background: white; */
  background-image: linear-gradient(red, blue, green);
  display: flex;
  justify-content: center;
  align-items: center;
}
.blend-btn {
}

h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
